
@{
    ViewBag.Title = "Main";
}
@*<h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>*@
@using AntiPShared
@model AntiPShared.PlagiarismResult
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">





@*<form action="" method="post" enctype="multipart/form-data">

    <label for="file">Filename:</label>
    <input type="file" name="file" id="file" />

    <input type="submit" />
</form>*@


<form action=""  class="forma" method="post" enctype="multipart/form-data">

    <input type="file" name="file" id="file" class="inputfile inputfile-1"/>
    <label for="file"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z" /></svg> <span>Choose a file&hellip;</span></label>

    <input type="submit" class="form-submit-button" />
</form>







<div class="container">
    <div class="wholebar row">
        <div class="col-sm-8">
            <p class="leftbar" id="inputText">
                @{
                    if (Model != null)
                    {
                        @Html.Raw(@Model.AllPlagiarismHtmlText)
                    }
                }
            </p>
        </div>
        <div class=" col-sm-4">
            <nav class="leftbar slidemenu">

                <!-- Item 1 -->
                <input type="radio" name="slideItem" id="slide-item-1" class="slide-toggle" checked />
                <label for="slide-item-1"><i class="icon fas fa-search"></i><span>Пошукові системи</span></label>

                <!-- Item 2 -->
                <input type="radio" name="slideItem" id="slide-item-2" class="slide-toggle" />
                <label for="slide-item-2"><i class="icon fas fa-database"></i><span>Локальна база даних</span></label>

                <div class="clear"></div>

                <!-- Bar -->
                <div class="slider">
                    <div class="bar"></div>
                </div>
                @if (Model != null)
                {
                <hr />
                <div id="option-db">
                    @foreach (var x in @Model.PlagiarismDB.SourceIdToSourceWordsIndexes.Keys)
                    {

                    <div class="btn-group btn-group-justified db-search" role="group" aria-label="...">
                        <div class="percent btn-group" role="group">
                            <button type="button" class="btn btn-default" onclick="dbHighlight('@x')">@{var lol = Math.Round(Convert.ToDouble(Model.PlagiarismDB.DocumentIdToInitialWordsIndexes[x].Count) / Convert.ToDouble(@Model.WordCount) * 100, 2);} @lol %</button>
                        </div>
                        <div class="link-area btn-group" role="group">
                            <button type="button" class="btn btn-default" onclick="dbHighlight('@x')">@x</button>
                        </div>
                        <div class="view btn-group" role="group">
                            <button type="button" class="btn btn-default" onclick="openInNewWd('@Url.Action(" SourceDB", "Home" , new { id=x })')">Перегляд</button>
                        </div>
                    </div>

                    @*<li>
                          <span class="percent" onclick="dbHighlight(@x)"> @{var lol = Convert.ToDouble(Model.PlagiarismDB.SourceIdToInitialWordsIndexes[x].Count) / Convert.ToDouble(@Model.WordCount) * 100;} @lol  %</span>
                        <span class="reslink" onclick="dbHighlight(@x)"> @x </span>
                        @*<button class="view-link" onclick="location.href='@Url.Action(" Source", "Home" , new {id=@x})'">View Link</button>
                        <a href="@Url.Action(" SourceDB", "Home" , new { id=x })" target="_blank">View Link</a>

                    </li>*@


                    }
                </div>





                <div id="option-url">

                    @foreach (var x in @Model.PlagiarismWeb.SourceIdToSourceWordsIndexes.Keys)
                    {



                            <div class="btn-group btn-group-justified web-search" role="group" aria-label="...">
                                <div class="percent btn-group" role="group">
                                    <button type="button" class="btn btn-default" onclick="webHighlight('@x')">@{var lol = Math.Round(Convert.ToDouble(Model.PlagiarismWeb.UrlToInitialWordsIndexes[x].Count) / Convert.ToDouble(@Model.WordCount) * 100, 2);} @lol %</button>
                                </div>
                                <div class="link-area btn-group" role="group">
                                    <button type="button" class="btn btn-default" onclick="webHighlight('@x')">@x</button>
                                </div>
                                <div class="view btn-group" role="group">
                                    <button type="button" class="btn btn-default" onclick="openInNewWd('@Url.Action("SourceUrl", "Home", new { id = @HttpUtility.UrlEncode(x) })')">Перегляд</button>
                                </div>
                            </div>


                            @*<li class="option-url" style="position:absolute">
                                  <span class="percent" onclick="webHighlight('@x')"> @{var lol = Convert.ToDouble(Model.PlagiarismWeb.SourceIdToInitialWordsIndexes[x].Count) / Convert.ToDouble(@Model.WordCount) * 100;} @lol %</span>
                                    <span class="reslink" onclick="webHighlight('@x')"> </span>
                                //    <button class="view-link" onclick="location.href='@Url.Action("Source", "Home", new {id = @x})'">View Link</button>
                                    <a href="@Url.Action("SourceUrl", "Home", new { id = @HttpUtility.UrlEncode(x) })" target="_blank">View Link</a>

                    </li>*@

                    }
                </div>

                    @*</ul>*@
                                        }











                @*<div style="height: 110px; left: 0px; position: absolute; top: 190px; width: 100%; padding: 5px 20px;">

                        <div class="viewer-list-item is-source df aic is-open">
                            <div class="viewer-list-item_inner">
                                <span class="viewer-list-item_weight-value">
                                    <!-- react-text: 2628 -->35.27<!-- /react-text -->
                                    <!-- react-text: 2629 -->%<!-- /react-text -->
                                </span>
                                <span class="viewer-list-item_text">
                                    <span class="df aic">
                                        <span class="is-overflow-text">uk.wikipedia.org</span>
                                    </span>
                                    <span class="viewer-list-item_full-url is-overflow-text">https://uk.wikipedia.org/wiki/%D0%90%D0%BF%D0%B0%D1%80%D0%B0%D1%82%D0%BD%D0%B5_%D0%B7%D0%B0%D0%B1%D0%B5%D0%B7%D0%BF%D0%B5%D1%87%D0%B5%D0%BD%D0%BD%D1%8F</span>
                                </span><div class="viewer-list-item_weight-line" style="width: 35.27%;">
                                </div><div class="viewer-list-item_fade">

                                </div>
                            </div>
                            <div class="viewer-list-item_button-container">
                                <a class="viewer-list-item_link" href="" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="viewer-list-item_link-icon"><path fill="none" d="M0 24V0h24v24z"></path><path d="M19.04 4H13a1 1 0 0 0-1 1 1 1 0 0 0 1 1h3.66l-5.37 5.36a1.02 1.02 0 0 0 0 1.42 1 1 0 0 0 1.42 0L18 7.48V11a1 1 0 0 0 1 1 1 1 0 0 0 1-1V5.36c.14-.36.06-.78-.22-1.07-.21-.2-.48-.3-.74-.29zM5 4c.55 0 1 .48 1 1.07v13.86C6 19.52 5.56 20 5 20c-.55 0-1-.48-1-1.07V5.07C4 4.48 4.44 4 5 4zm13 12v3a1 1 0 0 0 1 1 1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1 1 1 0 0 0-1 1z"></path><path d="M5 4h3a1 1 0 0 1 1 1 1 1 0 0 1-1 1H5a1 1 0 0 1-1-1 1 1 0 0 1 1-1zM4 19c0 .56.48 1 1.07 1h13.86c.59 0 1.07-.45 1.07-1 0-.56-.48-1-1.07-1H5.07C4.48 18 4 18.45 4 19z"></path></svg>View source</a>
                                <span class="viewer-list-item_vertical-line"></span><button type="button" class="button button--white viewer-list-item_button "></button>
                            </div>

                        </div>
                    </div>*@
            </nav>
        </div>

    </div>
</div>




@*
        var model = @Html.Raw(Json.Encode(Model));
        function highlight(id) {
            model.PlagiarismResult[id].forEach(function (item, i, arr) {
                var inputText = document.getElementById("inputText");
                var innerHTML = inputText.innerHTML;
                inputText.innerText.
                var index = innerHTML.indexOf(text);
                if (index >= 0) {
                    innerHTML = innerHTML.substring(0, index) + "<span class='highlight'>" + innerHTML.substring(index, index + text.length) + "</span>" + innerHTML.substring(index + text.length);
                    inputText.innerHTML = innerHTML;
                }

                alert(i + ": " + item + " (массив:" + arr + ")");
            });


            }
    </script>
    <style>
        .highlight {
            background-color: yellow;
        }
    </style>*@

<style>

    input[type=submit] {
        font-size: 1.25rem;
        font-weight: 700;
        text-overflow: ellipsis;
        white-space: nowrap;
        background-color: #4CAF50;
        border: none;
        color: white;
        
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
        padding: 0.625rem 1.25rem;
    }

    #option-url {
        position: relative;
    }

    #option-db {
        visibility: hidden;
        position: absolute;
    }

    .forma {
        margin-bottom: 10px;
        padding:3px;
        margin-top: 10px;
    }
    .percent {
        width: 19% !important;
    }

    .link-area {
        width: 58% !important;
    }

    .view {
        width: 23% !important;
    }

    .btn {
        overflow: hidden;
        padding: 6px 3px !important;
    }

    .inputfile-1 + label {
        color: #f1e5e6;
        background-color: #d3394c;
    }
    .inputfile {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }
        .inputfile + label {
            max-width: 80%;
            font-size: 1.25rem;
            font-weight: 700;
            text-overflow: ellipsis;
            white-space: nowrap;
            cursor: pointer;
            display: inline-block;
            
            padding: 0.625rem 1.25rem;
        }
            .inputfile + label svg {
                width: 1em;
                height: 1em;
                vertical-align: middle;
                fill: currentColor;
                margin-top: -0.25em;
                margin-right: 0.25em;
            }
            .inputfile + label * {
                pointer-events: none;
            }
    svg:not(:root) {
        overflow: hidden;
    }
            .inputfile:focus + label,
            .inputfile + label:hover {
                background-color: red;
            }

        .inputfile:focus + label {
            outline: 1px dotted #000;
            outline: -webkit-focus-ring-color auto 5px;
        }

        .inputfile + label * {
            pointer-events: none;
        }
</style>


<script>

    $('#slide-item-2').click(function () {
        $('#option-db').css({
            'visibility': 'visible',
            'position': 'relative',
        });
        $('#option-url').css({
            'visibility': 'hidden',
            'position': 'absolute',
        });
    });

    $('#slide-item-1').click(function () {
        $('#option-db').css({
            'visibility': 'hidden',
            'position': 'absolute',
        });
        $('#option-url').css({
            'visibility': 'visible',
            'position': 'relative',
        });
    });

    var inputs = document.querySelectorAll('.inputfile');
    Array.prototype.forEach.call(inputs, function (input) {
        var label = input.nextElementSibling,
            labelVal = label.innerHTML;

        input.addEventListener('change', function (e) {
            var fileName = '';
            if (this.files && this.files.length > 1)
                fileName = (this.getAttribute('data-multiple-caption') || '').replace('{count}', this.files.length);
            else
                fileName = e.target.value.split('\\').pop();

            if (fileName)
                label.querySelector('span').innerHTML = fileName;
            else
                label.innerHTML = labelVal;
        });
    });

</script>


<script>

    function openInNewWd(link) {
        window.open(link);
    }
    function dbHighlight(id) {
        @{
            IHtmlString htmlStr;
            try { htmlStr = Html.Raw(@Newtonsoft.Json.JsonConvert.SerializeObject(Model.PlagiarismDB.DocumentIdToInitialDocumentHtml)); }
            catch { htmlStr = null; }; }
      

        try {
            var data =  @htmlStr;

                    if (data != null)
                    {
                        var innerHtml = data[id];
                document.getElementById("inputText").innerHTML = innerHtml;
                    }



                } catch (err) {

            // обработка ошибки

        }

    }
</script>

<script>
     function webHighlight(id) {


         @{  
                 try { htmlStr = Html.Raw(@Newtonsoft.Json.JsonConvert.SerializeObject(Model.PlagiarismWeb.UrlToInitialDocumentHtml)); }
                 catch { htmlStr = null; } 

             }

         try {

             var data = @htmlStr;
                 if (data != null)
                 {
                     var innerHtml = data[id];
             document.getElementById("inputText").innerHTML = innerHtml;
                 }


         } catch (err) {

             // обработка ошибки

         }

    }




</script>